##########################
#  Application specific  #
##########################
box/metaterran
.vagrant

##########################
#        General         #
##########################

##########################
#  OS X temporary files  #
##########################
.DS_Store
.Trashes
*.swp

##########################
#         NodeJS         #
##########################
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
coverage
.grunt
.lock-wscript
build/Release
node_modules
